body {
	background-image: url("https://avatars2.githubusercontent.com/u/26640365?s=400&v=4");
}

#lhs {
	float: left;
	width: 20%;
}

#btn {
	width: 10px;
	height: 10px;
	margin-left: 10px;
}

.btnup {
	background-image: url("uparrow.png");
}

.btndown {
	background-image: url("downarrow.png");
}

#rhs {
	float: right;
}

#orderButton {
	background-color: blue;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	text-align: center;
	float: center;
}

button * {
	display: inline-block;
}

button {
	display: block;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}


