#lhs {
	float: left;
	width: 20%;
}

.menuitem {
	padding-top: 10px;
	padding-bottom: 10px;
}

#rhs {
	float: right;
}

#orderButton {
	background-color: blue;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	text-align: center;
	float: center;
}
